<html ng-app="demoApp">

<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="../src/ng-isvisible.js"></script>
</head>

<body ng-controller="demoCtrl">
  <div vis-outer class="listouter" id="col-1">
    <div vis-inner class="listitem" data-ng-class="{'outview': !isVisible, 'seen': seen}" ng-repeat="item in mambo track by $index"
      id="{{'item-' + $index}}">{{'Mambo number ' + $index}}</div>
  </div>

  <div vis-outer class="listouter" id="col-2">
    <div vis-inner class="listitem" data-ng-class="{'outview': !isVisible, 'seen': seen}" ng-repeat="item in mambo track by $index"
      id="{{'item-' + $index}}">{{'Mambo number ' + $index}}</div>
  </div>

  <script src="script.js"></script>
</body>

</html>