body,
html {
  padding: 0;
  margin: 0;
  font-size: 24px;
  overflow-y: hidden;
  line-height: 0;
}

.frame {
  height: 100vh;
  overflow: hidden;
}

.outview {
  background: saddlebrown;
}

.seen {
  color: lightseagreen;
}

.listouter {
  display: inline-block;
  width: 300px;
  height: 100vh;
  overflow-x: none;
  overflow-y: scroll;
}

.listitem {
  line-height: 24px;
}